{% extends "layout.html" %}
{% block title %}
About Hip Local
{% endblock %}
{% block content %}

<div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">About Tik Talk</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src="{{ url_for('static', filename='images/about-header.jpg')}}" border="0" alt="">
        </div>

        <div class="mdl-grid portfolio-copy">
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Who are we?</h3>
            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <p>
                        Tik Talk is designed to provide insight into events happenning in your area. View events, locations, times, and participants who are planning to attend.                 </p>
            </div>

            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Going Global</h3>

            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <p>
                        We are the number one event feed app; we plan to expand to a location near you. Please like us on Facebook, Instagram, and Twitter                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}